.item-list .list-group-item {
  cursor: pointer;
}

.item-list .list-group-item:hover {
  background-color: #444;
}
.list-group-item.active:hover {
  background-color: #375a7f;
}

.item-list .list-group-item:last-child {
  margin-bottom: 1rem;
}
